


<div class="container py-4">
    <div class="row">
        <!-- Sidebar Section -->
        @await Html.PartialAsync("_SideBar")

        <!-- Tab Content Section -->
        <div class="col-md-9">
            <!-- Orders Section -->
            <div class="col-md-9">
                <div class="col-12 mb-3">
                    @await Html.PartialAsync("_OrderTabs")
                </div>
                <div class="col-12">
                    @await Html.PartialAsync("_OrderList")
                </div>
            </div>
        </div>
    </div>
</div>
