



<div class="container py-4">
    <div class="row">
        <!-- Sidebar Section -->
        @await Html.PartialAsync("_SideBar")

        <!-- Tab Content Section -->
        <div class="col-md-9">
                <div class="tab-pane fade" id="vouchers" role="tabpanel" aria-labelledby="vouchers-tab">
                    <h4>Vouchers</h4>
                </div>


        </div>
    </div>
</div>
