@* ===================== THANH NAVBAR ====================== *@
<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Site" asp-controller="Home" asp-action="Index">StackBooks</a>
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item fw-bold">
                    <a class="nav-link btn-nav" asp-area="Site" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link btn-nav" asp-area="Customer" asp-controller="Category" asp-action="Index">Category</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link btn-nav" href="#">About & Contact</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link btn-nav" href="#">Customer Service</a>
                </li>

                @* Giành cho Admin *@
                @* @if (User.IsInRole("Admin")) *@
                @* { *@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Management</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Book" asp-action="Index">Book</a>
                        </div>
                    </li>
                @* } *@
                @* Giành cho Admin *@
            </ul>

            @* ================= SEARCH INFOR ============== *@
            <form class="d-flex" method="get" asp-area="Customer" asp-controller="Category" asp-action="Search">
                <input class="form-control me-sm-2" type="search" name="s" placeholder="Search">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            @* ================ ACCOUNT ================ *@
            <div class="d-grid gap-2 d-lg-flex mx-lg-2 my-sm-2">
                @if (User.Identity!.IsAuthenticated)
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, @User.Identity.Name
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item" asp-area="Customer" asp-controller="Account" asp-action="Profile">Profile</a></li>
                            <li><a class="dropdown-item" asp-area="Site" asp-controller="Account" asp-action="Signout">Sign out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a asp-area="Site" asp-controller="Account" asp-action="Signin" class="btn btn-primary w-100 w-lg-auto" style="line-height: 1;">
                        <span class="fw-light">Hello, sign in</span><br />
                        <span class="fw-bold">Account</span>
                    </a>
                }
            </div>

            @* ============ GIỎ HÀNG ============ *@
            <div class="mx-2 my-2">
                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-light position-relative">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @ViewBag.CartCount
                        <span class="visually-hidden">items in cart</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>