@model List<StackBook.Models.Book>

<div class="row g-5">
    @if (Model != null && Model.Any())
    {
        foreach (var book in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a asp-area="Customer" asp-controller="Category" asp-action="BookDetail" asp-route-bookId="@book?.BookId"
                class="h-66 book-card text-decoration-none text-black d-block ">

                    <img src="@book?.ImageURL" alt="@book?.BookTitle" class="img-fluid" />

                    <div class="book book-title fw-bold mt-2">@book?.BookTitle</div>

                    <div class="book-rating text-warning mb-1">⭐ 4.4 (619)</div>

                    <div class="fs-8 text-muted">
                        @if (book!.Authors != null && book.Authors.Any())
                        {
                            foreach (var author in book.Authors)
                            {
                                <div>@author.AuthorName</div>
                            }
                        }
                    </div>


                    <div class="book-price text-danger fw-semibold mt-1">
                        $@book?.Price
                    </div>

                </a>
            </div>
        }
    }
</div>
