@model StackBook.ViewModels.BookDetailViewModel

<div class="container">
	<form method="post">
		<input asp-for="BookId" hidden />
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Delete Book</h2>
				<hr />
			</div>
			<div class="mb-3">
				@* Lấy text label thông qua DisplayName = BookName *@
				<label asp-for="BookTitle" class=" pb-2"></label>
				<input asp-for="BookTitle" disabled class="form-control" />
				<span asp-validation-for="BookTitle" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="AuthorsName" class="pb-2"></label>
				<div id="author-container">
					@if (Model?.AuthorsName != null)
					{
						@for (int i = 0; i < (Model.AuthorsName?.Count ?? 0); i++)
						{
							<input asp-for="AuthorsName[i]" disabled class="form-control" />
						}
					}
				</div>
			</div>

			<div class="mb-3">
				<label asp-for="CategoryName" class=" pb-2"></label>

				<input asp-for="CategoryName" disabled class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="Price" class=" pb-2"></label>
				<input asp-for="Price" disabled class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="Stock" class=" pb-2"></label>
				<input asp-for="Stock" disabled class="form-control" />
			</div>
			<div class="mb-3">
				<label asp-for="CreatedBook" class=" pb-2"></label>
				<input asp-for="CreatedBook" disabled class="form-control" />
			</div>

			<div class="mb-3">
				<label asp-for="Description" class=" pb-2"></label>
				<textarea asp-for="Description" readonly class="form-control"></textarea>
			</div>
			<div class="mb-3">
				<label asp-for="ImageURL" class=" pb-2"></label>
				<input asp-for="ImageURL" disabled class="form-control" />
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-danger form-control">Delete</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-area="Admin" asp-controller="Book" asp-action="Index" class="btn btn-secondary form-control">
						Back to list
					</a>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		tinymce.init({
		selector: 'textarea',
		readonly: true,
		plugins: 'wordcount',
		toolbar: false,
		tinycomments_mode: 'embedded',
		tinycomments_author: 'Author name',
		mergetags_list: [
			{ value: 'First.Name', title: 'First Name' },
			{ value: 'Email', title: 'Email' },
		],
		ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
		});
	</script>
}
