@model List<StackBook.Models.Category>

<h2 class="pb-2">Featured Books</h2>
@* ================== SLIDER BOOKS ======================== *@
<div class="container swiper">
    <div class="card-wrapper">
        <ul class="card-list swiper-wrapper">
            @foreach (var category in Model)
            {
                <li class="card-item swiper-slide">
                    <a asp-area="Customer"
                       asp-controller="Category"
                       asp-action="Index"
                       asp-route-CategoryId="@category.CategoryId"
                       class="card-link">

                        <img src="~/images/books/@(Model.IndexOf(category) + 1).webp" alt="Cart Image" class="card-image" />
                        <p class="category">@category.CategoryName</p>
                        <h2 class="card-title mt-4">Some default description or quote here</h2>
                        <button class="card-button fa-solid fa-arrow-right"></button>
                    </a>
                </li>
            }
        </ul>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
